* {
  font-family: 'Arimo', sans-serif;
  color: darkslategray;
}
header {
  border-bottom: 1px solid gray;
  display: flex;
  justify-content: space-between;
  background-color: #cfd1cc;
}
h1 {
  color: #ed6664;
  margin: 0px;
  font-family: 'Creepster', cursive;
  font-size: 40px;
  padding-top: 5px;
}
h2 {
  font-size: 25px;
  text-align: center;
  padding-bottom: 20px;
}
p {
  font-size: 20px;
  position: relative;
  left: 60px;
}
#preview {
  padding-top: 100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
}
#preview.remove{
  display: none;
}
#cards {
  display: flex;
  justify-content: space-around;
}
#card1 {
  border: 2px solid lightgray;
}
#card2 {
  border: 2px solid lightgray;
}
#congratsSection {
  display: block;
  align-content: center;
}
.button {
  height: 50px;
  width: 200px;
  font-size: 30px;
  background-color: #ed6664;
  color: white;
  text-align: center;
}
#instructions {
  display: none;
}
#instructions.show {
  display: inline;
  width: 80%;
}

#gameboard1.show {
  display: inline;
}

#counter {
  display: flex;
  height: 50px;
  width: 150px;
  justify-content: center;
  font-size: 20px;
  padding-top: 10px;
  color: #337885;
}
#timer {
   display: flex;
  height: 50px;
  width: 150px;
  justify-content: center;
  font-size: 20px;
  padding-top: 10px;
  color: #337885;
}
/*GAME BOARD CSS HERE*/

#gameBoard1 {
  background-image: url(/Users/samanthaschonefeld/wdi/unit01/projects/mouse-game/assets/airbnb1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 800px;
  display: none;
}

.mice {
  max-height: 150px;
  max-width: 150px;
}
#mouse1 {
  position: relative;
  left: 1200px;
  top: 70px;
}
#mouse2 {
  position: relative;
  left: 600px;
  bottom: 50px;
}
#mouse3 {
  position: relative;
  left: 800px;

}
#mouse4 {
  position: relative;
  left: 350px;
}
#mouse5 {
  position: relative;
  left: 650px;
}
#mouse6{
  position: relative;
  left: 200px;
}
#mouse7 {
  position: relative;
  left: 1000px;
}
#mouse8 {
  position: relative;
  left: 300px;
  bottom: 20px ;
}

.hidden {
 opacity: 0;
 pointer-events: none;
}

#end {
  display: none;
  align-content: center;
}

#runMouse {
  animation: change-rate 5s linear infinite alternate;
  position: absolute;
  align-self: right;
}
@keyframes change-rate {
  0% {
    right: 30%;
  }
  50% {
    right: 65%;
  }
  100% {
    right: 100%;
  }
}









